@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
	margin:0;
	padding:0;
}
.container{
	width:1140px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
html{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
}
/*Start Header*/
header{
	background:#996699;
	padding-top:57px;
}
.logo,.nav{
	float:left;
}
.logo{
	padding: 0 458px 0 62px;
}
.navbar{
	list-style:none;
	padding:3px 0 0 25px;
}
.nav-item{
	display:inline-block;
	
}
.nav-link{
	text-decoration:none;
	color: #fff;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	
	border-radius:5px;
}
.nav-link:first-child{
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(2){
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}

.nav-link:hover{
	background:#663366;
}

.title{
	
	color:#ffffff;
	padding-top:157px;
	text-align:center;
	
	
}
.titleone{
	margin:62px 423px 145px 424px;
	display:inline-block;
	background:#eb7d4b;
	
	
	
}
.aa{
	text-decoration:none;
	color:#f7f3ea;
	padding:28px 82px;
	display:inline-block;
	font-size:1.125rem;
}


/*End Header*/

/*start green*/
.manigreen{
	background:#00cc99;
	margin:0 auto;
	
	
}
.content-cha{
	padding-bottom:128px;
}
.manitex{
	font-size:40px;
	color:#f7f3ea;
	text-align:center;
	padding-top:119px;
	
}

.ball{
	text-align:center;
	color:#f7f3ea;
	padding-bottom:82px;
	
}
.content{
	padding:50px 0;
	width:25%;
	float:left;
	text-align:center;
	color:#f7f3ea;
	
}

h3{
	padding-top:60.50px;
}


/*end green*/

/*Start yellow*/
.mainyellow{
	background:#e7f1f8;
	margin:0 auto;
}

.maintex{
	color:#333366;
	font-size:40px;
	text-align:center;
	padding-top:119px;
}

.ballto{
	color:#333366;
	text-align:center;
}

.yellow{
	width:200px;
	height:200px;
	background:#999999;
	border-radius:50%;
	margin-left:40px;
	
}

.content-yellow{
	padding:50px 0;
	width:25%;
	float:left;
	text-align:center;
	color:#333366;
	padding-bottom:127px;
	
}
.icon{
	padding-top:28px;
}

/*end yellow*/

/*start wegot*/
.wegot{
	background:#ffffff;
	margin:0 auto;
}
.wegot-one{
	padding-top:117px;
	color:#333366;
	text-align:center;
	font-size:40px;
}
.circle-all{
	padding:50px 0;
	width:25%;
	float:left;
	text-align:center;
	color:#333366;
	padding-bottom:123px;
}


/*end wegot*/
/*start OUR PORTFOLIO*/
.portfolio{
	background:#ffcc99;
	margin:0 auto;
}
.our{
	padding-top:121px;
	color:#333333;
	text-align:center;
	font-size:40px;
}

.ballthere{
	color:#333333;
	text-align:center;
}

.navbarto{
	list-style:none;
	text-align:center;
	padding-top:43px;
}
.nav-itemto{
	display:inline-block;
	background:#ebc895;
	
}
.nav-itemto{
	
	color: #333333;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	border-radius:5px;
}
.nav-itemto:first-child{
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
	
}
.nav-itemto:nth-child(2){
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}

.nav-itemto:nth-child(3){
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}

.nav-itemto:nth-child(4){
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}


.navto ul li a{
	text-decoration:none;
	color:#333333;
}


.nav-itemto:hover{
	background:#ffffff;
	
}

.photo-all{
	float:left;
	padding-top:62px;
	text-align:center;
	padding-left:20px;
}

.projects{
	margin:83px 423px 109px 424px;
	display:inline-block;
	background:#00cc99;
	
}

.ab{
	text-decoration:none;
	color:#ffffff;
	padding:28px 58px;
	display:inline-block;
	font-size:1.125rem;
	
}

/*end OUR PORTFOLIO*/

/*start WHAT POEPLE*/
.poeple{
	background:#cc3399;
	margin:0 auto;
}	
.what{
	font-size:40px;
	color:#ffffff;
	text-align:center;
	padding-top:119px;
}
.say-about{
	text-align:center;
	color:#ffffff;
}

.yellowto{
	width:96px;
	height:96px;
	background:#666666;
	border-radius:50%;
	float:left;
	margin-left:50px;
	
}

.content-pink{
	padding:50px 0;
	width:50%;
	float:left;
	
	
}

.porta{
	color:#ffffff;
	float:left;
	padding-left:48px;
}

.orange{
	color:#ffcc99;
}

.text-poeple{
	font-size:24px;
	padding-top:30px;
}

	
/*end WHAT POEPLE*/

/*start TOUCH*/
.touch{
	background:#336699;
	margin:0 auto;
}	
.touch-get{
	font-size:40px;
	color:#ffffff;
	text-align:center;
	padding-top:119px;
}
.get-top{
	text-align:center;
	color:#ffffff;
}

.touch-top{
	text-align:center;
}


.name-mail{
	margin-bottom:27px;
	margin-top:76px;
}



.name-table{
	background:#333366;
	padding:23px 300px 20px 24px;
		
}

.mail-table{
	margin-left:32px;
	background:#333366;
	padding:23px 300px 20px 24px;
}

.Message{ 
	
	background:#333366;
	padding:30px 45px 56px 45px;
	width:80%;
}
.send{
	margin:59px 423px 109px 424px;
	display:inline-block;
	background:#33ccff;
	
}
.ac{
	text-decoration:none;
	color:#fff;
	padding:28px 82px;
	display:inline-block;
	font-size:18px;
}
/*end TOUCH*/

/*start footer*/
.main-bottom{
	background:#336699;
	margin:0 auto;
}

.ul-top{
	padding:55px 0 55px 99px;
	
}

.main-left{
	list-style:none;
	display:inline-block;
	padding-right:81px;
}
.text-top{
	color:#fff;
	text-decoration:none;
	font-size:1.125rem;
	text-align:center;
	line-height:1.125rem;
	border-radius: 5px;
}
.text-top:hover{
	color:#33ccff
}
/*end footer*/




























